<!-- layout -->
<% layout('layout/layout') -%>

<hr class="space m">
<hr class="space m">
<div class="section-bg-image bg-top" style="background-image:url(../images/bg-10.jpg)">
        <div class="container content">

                <div class="row">
                        <div class="col-md-8 col-center boxed-inverse shadow-1 text-center">
                                <h4>تسجيل </h4>


                                <hr class="space m">
                                <form class="form-box form-ajax width-80" >



                                        <div class="row">

                                
                                                <input id="name" name="name" placeholder="الاسم" type="text" class="form-control form-value " required="required" style="text-align: center">
                                        </div> 
                                        <hr class="space m"> 
                                        <div class="row">
            
                                            
                                                <input id="date" name="date" placeholder="تاريخ الميلاد" type="date" class="form-control form-value" required="required" style="text-align: center">
                                        </div> 
                                        <hr class="space m"> 
                                        <div class="row">

                                
                                                <input id="country" name="country" placeholder="الدولة" type="text" class="form-control form-value" required="required" style="text-align: center">
                                        </div> 
                                        <hr class="space m"> 
                                        <div class="row">
            
                                            
                                                <input id="email" name="email" placeholder="البريد الاكتروني" type="email" class="form-control form-value" required="required" style="text-align: center">
                                        </div> 
                                        <hr class="space m"> 
                                   
                                       
                     


                                        <div class="row">
                                                <input id="paswrd" name="paswrd" placeholder="كلمة المرور" type="password"
                                                        class="form-control form-value" required="required" style="text-align: center">
                                        </div>
                                        <hr class="space s">
                                        <div class="row">
                                                <input id="paswrd" name="paswrd" placeholder="كلمة المرور (تكرار) " type="password"
                                                        class="form-control form-value" required="required" style="text-align: center">
                                        </div>
                                        <hr class="space s">
                                        <div class="row">
                                                <div class="col-md-6" style="text-align: right">
                                                        <a href="#">نسيت كلمة المرور؟</a>

                                                </div>
                                                <div class="col-md-6" style="text-align: left">
                                                        <a href="#">لاتملك حساب قم بالتسجيل !</a>

                                                </div>
                                        </div>

                                        <button type="submit" class="btn " style=" border-radius:30px"> تسـجـيـل </button>






                                </form>
                                <hr class="space s">

                        </div>
                </div>
        </div>
</div>