
<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-video.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Oct 2018 12:00:55 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signflow - Ultra Modern Tech Template</title>
    <meta name="description" content="Multipurpose HTML template.">
    <script src="assets/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/HTWF/scripts/bootstrap/css/bootstrap.css">
    <script src="assets/HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="assets/HTWF/style.css">
    <link rel="stylesheet" href="assets/HTWF/css/content-box.css">
    <link rel="stylesheet" href="assets/HTWF/css/image-box.css">
    <link rel="stylesheet" href="assets/HTWF/css/animations.css">
    <link rel="stylesheet" href="assets/HTWF/css/components.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/social.stream.css">
    <link rel="icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body style="direction:rtl">
    <div id="preloader"></div>
 
    <!-- layout -->

<hr class="space m">
<hr class="space m">
<div class="section-bg-image bg-top" style="background-image:url(../images/bg-10.jpg)">
        <div class="container content">

                <div class="row">
                        <div class="col-md-8 col-center boxed-inverse shadow-1 text-center">
                                <h4>تسجيل </h4>


                                <hr class="space m">
                                <form class="form-box form-ajax width-80" >



                                        <div class="row">

                                                        <div class="col-md-12" style="font-size: 12px; text-align: right">الأسم</div>
                                                <input id="name" name="name" placeholder="" type="text" class="form-control form-value " required="required" style="text-align: center"> <div class="col-md-12" style="font-size: 10px; text-align: left">* سيكون الاسم مطبوعا في تقرير الشخصية عند الاشتراك</div>
                                        </div> 
                                        <div class="row">
            
                                                        <div class="col-md-12" style="font-size: 12px; text-align: right">تاريخ الميلاد</div>
                                                <input id="date" name="date" placeholder="تاريخ الميلاد" type="date" class="form-control form-value" required="required" style="text-align: center"><div class="col-md-12" style="font-size: 10px; text-align: left">*برنامج موهوب من عمر 14 سنة</div>
                                        </div> 
                                        <div class="row">

                                                        <div class="col-md-12" style="font-size: 12px; text-align: right">بلد الاقامة</div>
                                                        <select class="form-control form-value text-center"  >
                                                                        <option class="text-center" >
                                                                                <span style="text-align: center">test</span> 
                                                                                asda
                                                                        </option>
                                                                </select><div class="col-md-12" style="font-size: 10px; text-align: left">* لافادتك بالمتخصص في بلد</div>

                                         
                                        </div> 
                                        <div class="row">
            
                                                        <div class="col-md-12" style="font-size: 12px; text-align: right">البريد الألكتروني</div>
                                                <input id="email" name="email" placeholder="البريد الاكتروني" type="email" class="form-control form-value" required="required" style="text-align: center"><div class="col-md-12" style="font-size: 10px; text-align: left">* سيصلك تقرير موهوب على هذا الايميل</div>
                                        </div> 
                                   
                                       
                     


                                        <div class="row">
                                                        <div class="col-md-12" style="font-size: 12px; text-align: right">كلمة المرور</div>
                                                <input id="paswrd" name="paswrd" placeholder="كلمة المرور" type="password"
                                                        class="form-control form-value" required="required" style="text-align: center">
                                        </div>
                                        <hr class="space s">
                                        <div class="row">
                                                        <div class="col-md-12" style="font-size: 12px; text-align: right"> كلمة المرور (تكرار)</div>
                                                <input id="paswrd" name="paswrd" placeholder="كلمة المرور (تكرار) " type="password"
                                                        class="form-control form-value" required="required" style="text-align: center">
                                        </div>
                                        <hr class="space s">
                                    

                                        <button type="submit" class="btn col-md-12 " style=" border-radius:30px; height: 30px;"> تسـجـيـل </button>


                                        <div class="row">
                                                <div class="col-md-6" style="text-align: right">

                                                </div>
                                                <div class="col-md-6" style="text-align: left; font-size:12px">
                                                        <a href="#">هل تملك حساب بالفعل قم بتسجيل الدخول !</a>

                                                </div>
                                        </div>



                                </form>
                                <hr class="space s">

                        </div>
                </div>
        </div>
</div>



<footer class="footer-base">
  
    <script async src="assets/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/HTWF/scripts/imagesloaded.min.js"></script>
    <script src="assets/HTWF/scripts/parallax.min.js"></script>
    <script src="assets/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    <script async src="assets/HTWF/scripts/isotope.min.js"></script>
    <script async src="assets/HTWF/scripts/php/contact-form.js"></script>
    <script async src="assets/HTWF/scripts/jquery.progress-counter.js"></script>
    <script async src="assets/HTWF/scripts/jquery.tab-accordion.js"></script>
    <script async src="assets/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
    <script async src="assets/HTWF/scripts/jquery.magnific-popup.min.js"></script>
    <script src="assets/HTWF/scripts/social.stream.min.js"></script>
    <script src="assets/HTWF/scripts/jquery.slimscroll.min.js"></script>
    <script src="assets/HTWF/scripts/smooth.scroll.min.js"></script>
</footer>


</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-video.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Oct 2018 12:02:00 GMT -->

</html>