<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-video.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Oct 2018 12:00:55 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signflow - Ultra Modern Tech Template</title>
    <meta name="description" content="Multipurpose HTML template.">
    <script src="assets/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/HTWF/scripts/bootstrap/css/bootstrap.css">
    <script src="assets/HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="assets/HTWF/style.css">
    <link rel="stylesheet" href="assets/HTWF/css/content-box.css">
    <link rel="stylesheet" href="assets/HTWF/css/image-box.css">
    <link rel="stylesheet" href="assets/HTWF/css/animations.css">
    <link rel="stylesheet" href="assets/HTWF/css/components.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="assets/HTWF/scripts/social.stream.css">
    <link rel="icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body style="direction:rtl">
    <div id="preloader"></div>
    <header class="fixed-top scroll-change bg-transparent menu-transparent" data-menu-anima="fade-bottom">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand scroll-hide" href="index.html">
                            <img class="logo-default" src="assets/images/4tlogo.png" alt="logo" />
                            <img class="logo-retina" src="assets/images/4tlogo.png" alt="logo" />
                        </a>
                        <a class="navbar-brand scroll-show" href="index.html">
                            <img class="logo-default" src="assets/images/4tlogo.png" alt="logo" />
                            <img class="logo-retina" src="assets/images/4tlogo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-left">
                            <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> الرئيسية </a>
                                        </li>
                                        <li class="dropdown ">
                                                <a href="aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button"> من نحن </a>
                                            </li>
                                            <li class="dropdown ">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> مقياس 4ti </a>
                                                </li>  <li class="dropdown ">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> 4talents </a>
                                                    </li>  <li class="dropdown ">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> برامجنا </a>
                                                        </li>  <li class="dropdown ">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> قاعة التدريب التفاعلي </a>
                                                            </li>  <li class="dropdown ">
                                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> اتصل بنا </a>
                                                                </li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <%-body%>

 
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base"  style="color:white !important">
        <div class="content" style="color:white !important">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-right">
                        <img width="60" src="assets/images/4tlogo.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-right text-right"  style="color:white !important">
                        <p  style="color:white !important">Collins Street West 8007, San Fransico, United States.</p>
                        <div class="tag-row">
                            <span  style="color:white !important">  support@company.com</span>
                            <span  style="color:white !important">+02 3205550678</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-right text-left text-right-sm">
                        <div class="btn-group social-group btn-group-icons"  style="color:white !important">
                            <a  style="color:white !important" target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"  style="color:white !important"></i>
                            </a>
                            <a  style="color:white !important" target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle" style="color:white !important"></i>
                            </a>
                            <a  style="color:white !important" target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"  style="color:white !important"></i>
                            </a>
                            <a   style="color:white !important" target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"  style="color:white !important"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text"  style="color:white !important">
                    © 2018 Signflow - Multipurpose & Tech Business Template <span  style="color:white !important">Handmade by <a href="http://schiocco.io/">schiocco.io</a></span>
                </div>
            </div>
        </div>

        <script async src="assets/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/HTWF/scripts/imagesloaded.min.js"></script>
        <script src="assets/HTWF/scripts/parallax.min.js"></script>
        <script src="assets/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script async src="assets/HTWF/scripts/isotope.min.js"></script>
        <script async src="assets/HTWF/scripts/php/contact-form.js"></script>
        <script async src="assets/HTWF/scripts/jquery.progress-counter.js"></script>
        <script async src="assets/HTWF/scripts/jquery.tab-accordion.js"></script>
        <script async src="assets/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script async src="assets/HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="assets/HTWF/scripts/social.stream.min.js"></script>
        <script src="assets/HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="assets/HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>

    <!-- <script>
        var vid = document.getElementById("main_video");
        vid.onplay(function () {
            vid.muted = false;

        });
    </script> -->
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-video.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Oct 2018 12:02:00 GMT -->

</html>