<% layout('../layout/layout') -%>


<div class="section-empty" style="margin-top: 150px;margin-bottom: 150px">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-7 col-sm-6">
                <div class="title-base text-left">
                    <hr />
                    <h2 style="text-align: right">من نحن</h2>
                    <p style="text-align: right">مركز استشاري وتدريبي يهدف الى رفع مستوى الوعي الذاتي للأفراد والمؤسسات من خلال تقديم فهم عميق للذات وللآخرين، وتقديم خريطة للمواهب والمزايا من أجل رسم مسار صحيح للتطوير.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <img src="assets/images/4Tf.png" alt="" />
            </div>
        </div>
    </div>
</div>
