<!-- layout -->
<% layout('../layout/layout') -%>


<div class="section-bg-video">
        <div class="videobox">
            <video id="main_video" autoplay="autoplay" loop="loop" muted controls poster="assets/images/video-poster.jpg">
                <source src="assets/vedios/introduction 4Ti .mp4" type="video/mp4">
            </video>
        </div>
        <div class="container content overlay-content box-middle white text-center">
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
    
    
    
    
    
        </div>
    </div>
    
    
    
    <div class="section-bg-image video-overlay text-center" style="background-image:url(assets/images/bg-15.png)">
       
      
        <div class="container content">
            <h1 class="text-center">Pricing plans</h1>
            <hr class="space">
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group pricing-table ">
                        <div class="list-group-item pricing-price" >
                            <span>$</span>50<span> </span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>Bronze plan</h3>
                        </div>
                        <div class="list-group-item">
                            20 سؤال 
                        </div>
                        <div class="list-group-item ">
                           تقرير
                        </div>
                        <div class="list-group-item list-group-itemx">
اتصال اونلاين                        </div>
                        <div class="list-group-item list-group-itemx">
                          كورس تدريبي
                        </div>
                      
                        <div class="list-group-item pricing-btn">
                            <a class="btn btn-sm btn-border circle-button" href="#"> Order now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="list-group pricing-table ">
                                <div class="list-group-item pricing-price" >
                                    <span>$</span>100<span> </span>
                                </div>
                                <div class="list-group-item pricing-name">
                                    <h3>Bronze plan</h3>
                                </div>
                                <div class="list-group-item">
                                    20 سؤال 
                                </div>
                                <div class="list-group-item ">
                                   تقرير
                                </div>
                                <div class="list-group-item ">
        اتصال اونلاين                        </div>
                                <div class="list-group-item list-group-itemx">
                                  كورس تدريبي
                                </div>
                              
                                <div class="list-group-item pricing-btn">
                                    <a class="btn btn-sm btn-border circle-button" href="#"> Order now </a>
                                </div>
                            </div>
                </div>
                <div class="col-md-4">
                        <div class="list-group pricing-table ">
                                <div class="list-group-item pricing-price" >
                                    <span>$</span>150<span> </span>
                                </div>
                                <div class="list-group-item pricing-name">
                                    <h3>Bronze plan</h3>
                                </div>
                                <div class="list-group-item">
                                    20 سؤال 
                                </div>
                                <div class="list-group-item ">
                                   تقرير
                                </div>
                                <div class="list-group-item ">
        اتصال اونلاين                        </div>
                                <div class="list-group-item ">
                                  كورس تدريبي
                                </div>
                              
                                <div class="list-group-item pricing-btn">
                                    <a class="btn btn-sm btn-border circle-button" href="#"> Order now </a>
                                </div>
                            </div>
                </div>
            </div>
            <hr class="space">
            <div class="row vertical-row">
                <div class="col-md-2">
                    <a class="img-box lightbox circle shadow-1" href="../images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="../images/gallery/square-1.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 hidden-sm">
                    <a class="img-box lightbox circle shadow-1" href="../images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="../images/gallery/square-2.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="img-box lightbox circle shadow-1" href="../images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="../images/gallery/square-3.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="img-box lightbox circle shadow-1 show-scale" href="../images/gallery/image-1.jpg" data-lightbox-anima="fade-top" data-anima="" aid="0.034751134584776855" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;">
                        <img src="../images/gallery/square-4.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 hidden-sm">
                    <a class="img-box lightbox circle shadow-1" href="../images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="../images/gallery/square-5.jpg" alt="">
                    </a>
                </div>
            </div>
            <hr class="space">
            <div class="row">
                <div class="col-md-4">
                    <h1>Upcoming events</h1>
                </div>
                <div class="col-md-8">
                    <div class="flexslider carousel outer-navs no-navs" data-options="minWidth:200,itemMargin:30,numItems:2,controlNav:false,directionNav:true">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 600%; transition-duration: 0.6s; transform: translate3d(0px, 0px, 0px);">
                            <li style="padding-right: 30px; width: 381.7px; float: left; display: block;">
                                <div class="advs-box advs-box-side-icon">
                                    <div class="icon-box">
                                        <i class="fa fa-calendar-o icon text-xl"></i>
                                    </div>
                                    <div class="caption-box">
                                        <h3 class="text-m">Battle For Dubai</h3>
                                        <span class="extra-content">December 18, 2019</span>
                                        <p class="text-s">
                                            Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                            temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="padding-right: 30px; width: 381.7px; float: left; display: block;">
                                <div class="advs-box advs-box-side-icon">
                                    <div class="icon-box">
                                        <i class="fa fa-calendar-o icon text-xl"></i>
                                    </div>
                                    <div class="caption-box">
                                        <h3 class="text-m">Traning Workshop</h3>
                                        <span class="extra-content">December 25, 2019</span>
                                        <p class="text-s">
                                            Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                            temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li style="padding-right: 30px; width: 381.7px; float: left; display: block;">
                                <div class="advs-box advs-box-side-icon">
                                    <div class="icon-box">
                                        <i class="fa fa-calendar-o icon text-xl"></i>
                                    </div>
                                    <div class="caption-box">
                                        <h3 class="text-m">Entrpreneurs meeting</h3>
                                        <span class="extra-content">December 28, 2019</span>
                                        <p class="text-s">
                                            Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                            temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul></div>
                </div>
            </div>
        </div>
    </div>